.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.main-card {
  width: 80%;
  margin: 1em;
}

.card {
  width: 100%;
  margin: 1em;
}

.card2 {
  width: 80%;
  margin-bottom: 1em;
}

.card3 {
  padding: 0;
}

.card4 {
  width: 100%;
}

.bio {
  border: 2px solid black;
  padding: 1em;
  margin-top: 5px;
}

.user_photo {
  padding: 0;
  margin: 0;
  height: 8em;
  width: 10em;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: chartreuse;
}

.height {
  height: 90vh;
}

.padding {
  padding: 1em;
}

.margin-right {
  margin-right: 1em;
}

.margin-bottom {
  margin-bottom: 2em;
}

.margin-top-bottom {
  margin: 1em 0 1em 0;
}

.d-flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-self-flex-end {
  justify-self: flex-end;
}

.justify-self-flex-start {
  justify-self: flex-start;
}

.align-item-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-self-flexend {
  align-self: flex-end;
}

.border {
  border: black 3px solid;
}

.border2 {
  border: black 2px solid;
}

.button {
  padding: 1em;
  border: 4px solid black;
  max-width: max-content;
}

.form {
  background-color: cornflowerblue;
  width: 50%;
  border: none;
  border-radius: 5px;
  height: 15em;
}

.label {
  text-align: center;
  color: whitesmoke;
  font-size: 1.3em;
}

.title {
  width: 50%;
  margin: 1em;
}

.text-area {
  margin: 1em;
  height: 60%;
  width: 50%;
}

.form-button {
  width: 30%;
  border: none;
  border-radius: 10px;
  margin-bottom: 0.5em;
  height: 3em;
  background-color: white;
  color: cornflowerblue;
  font-size: 1em;
  font-weight: 1000;
}

.like-button {
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 0.5em;
  height: 3em;
  background-color: white;
  color: cornflowerblue;
  font-size: 1em;
  font-weight: 1000;
}

.sign-up {
  background-color: cornflowerblue;
  border-radius: 20px;
  margin: 2em 20em 0 20em;
}

.sign-in {
  position: absolute;
  border: solid black 2px;
  background-color: white;
  height: max-content;
  text-decoration: none;
  color: cornflowerblue;
  font-size: 2em;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: 700;
  top: 8.5em;
  left: 19.2em;
}

.sign-in:hover {
  position: absolute;
  border: azure solid 4px;
  background-color: rgb(148, 178, 235);
  height: max-content;
  text-decoration: none;
  color: white;
  font-size: 2em;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: 700;
}

.sign-in-color {
  display: flex;
  background-color: cornflowerblue;
  width: 20em;
  height: 20em;
  margin: 9em 32em 0 32em;
  border-radius: 20px;
}

.sign-out {
  align-self: center;
  justify-self: center;
  border: solid black 2px;
  background-color: white;
  height: max-content;
  text-decoration: none;
  color: cornflowerblue;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: 700;
  margin-left: 1em;
}

.sign-out:hover {
  align-self: center;
  justify-self: center;
  background-color: rgb(148, 178, 235);
  height: max-content;
  text-decoration: none;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: 700;
  margin-left: 1em;
}
